.alerts-table {
  min-width: 1120px;

  &__metrics {
    margin: 8px 12px;
  }

  &__content {
    padding: 0;
  }
}

.item-info{
  &:has(.metrics-wrapper),
  &:has(.table__item-logs-container),
  &:has(> .item-info__details-metrics) {
    align-content: flex-start;
  }
}
